header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  position: relative;
}

.logo {
  height: 65px;
  width: 200px;
  position: absolute;
  left: 10px;
  top: 0;
}

.desktop-nav {
  display: flex;
  align-items: center;
}

.top-nav {
  display: flex;
}

.nav-link {
  padding: 20px;
  font-family: "Doppio One", sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.register-button {
  position: absolute;
  right: 20px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 15px;
}

.menu-toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu-toggle span:nth-child(1) { top: 0px; }
.menu-toggle span:nth-child(2) { top: 8px; }
.menu-toggle span:nth-child(3) { top: 16px; }

.menu-toggle.open span:nth-child(1) {
  top: 8px;
  transform: rotate(45deg);
}

.menu-toggle.open span:nth-child(2) { opacity: 0; }

.menu-toggle.open span:nth-child(3) {
  top: 8px;
  transform: rotate(-45deg);
}


@media (max-width: 800px) {
  header {
    justify-content: flex-start;
  }

  .desktop-nav {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .register-button {
    position: static;
  }

  .mobile-menu {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: absolute;
    top: 60px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
  }

}